@import "tailwindcss";

@theme {
  /* Add your custom color here */
  --color-sky-blue: #87CEEB;
}

/* Set default dark theme */
:root {
  --background: #000000;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}