@import "tailwindcss";

@theme {
  --color-sky-blue: #87CEEB;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
}

html {
  scroll-behavior: smooth; /* This does the magic */
}

/* Force black background on the entire document */
html, body {
  background-color: #000000; /* Ensures no white flash/overscroll */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}